.downloadingStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35vh;
}

.spinnerStyles {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 7px solid orange;
  border-top: 7px solid white;
  animation: spin 1s linear infinite;
}

.thankyoufame{
  padding: 20px;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
}

body{
  background-image: url('https://i.ibb.co/5rdkgVG/3311-R1-NUIEx-BUi-A0-NDUt-NDI.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1rem;
  }
  .spinnerStyles{
  height: 30px;
  width: 30px;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}